@page { margin: 0; }

body, html{
    font-size: 15px;
    --icon-size: 2rem;
}

.fas, .far{
    font-size: 1.5rem;
    margin-right: 2rem;
}

.heading{
    height: 10rem;
    /* background-color:rgb(42, 41, 46); */
    background-image: url("asset/bg_heading.png");
    color: white;
    -webkit-box-shadow: 1px -11px 9px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -11px 9px 12px rgba(0,0,0,0.75);
    box-shadow: 1px -11px 9px 12px rgba(0,0,0,0.75);
    position: relative;
    z-index: 1000;
    -webkit-print-color-adjust:exact; 
    -webkit-filter:opacity(1);
}

.cv-content{
    background-color: rgb(12, 81, 146);
    z-index: 1;
    color: whitesmoke;
}

.side-content{
    padding-top: 8rem;
}

.side-sub-text{
    margin-left: 5rem;
}

.main-content{
    /* placeholder */
    opacity: 100%; 
}

.sub-text{
    margin-left: 7rem;
}

.sideinfo{
    background-color: rgb(9, 57, 106);
    z-index: 999;
}


/* TIMELINE START */
.timeline{
    border-left: 3px solid #ffffff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
}

.timeline .entry {
    position: relative;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.timeline .entry:before, .timeline .entry:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .entry:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.timeline .entry:after {
    -webkit-box-shadow: 0 0 0 3px #ffffff;
    box-shadow: 0 0 0 3px #ffffff;
    left: -55.8px;
    background: rgb(12, 81, 146);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

/* TIMELINE END */


.debug-border{
    border: 1px solid blue;
}

.picture-frame{
    border: 5px solid rgb(42, 41, 46);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 3rem;
    z-index: 1001;
}

.footing{
    background-color:rgb(42, 41, 46);
    text-align: center;
    color: gray;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    background-image: url("asset/bg_heading.png");
    -webkit-box-shadow: 1px 10px 21px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 21px 8px rgba(0,0,0,0.75);
    box-shadow: 1px 10px 21px 8px rgba(0,0,0,0.75);
    z-index: 1000;
    position: relative;
}

.csharp{
    background-image: url("asset/csharp.png");
    width: var(--icon-size);
    height: var(--icon-size);
}

.rails{
    background-image: url("asset/rails.png");
    width: var(--icon-size);
    height: var(--icon-size);
}


