@page { 
    size: A4;
    margin: 0; 
}

body, html{
    font-size: 14px;
    --icon-size: 1rem;
}

#printBg{
    display: none;
}

@media screen{
    body{
        background: rgb(75,157,235);
        background: linear-gradient(215deg, rgba(75,157,235,1) 0%, rgba(8,34,61,1) 100%);
    }
}

.a4{
    max-width: 25cm;
    max-height: 29.7cm;
    -webkit-box-shadow: -27px 26px 55px 32px rgba(0,0,0,0.75);
    -moz-box-shadow: -27px 26px 55px 32px rgba(0,0,0,0.75);
    box-shadow: -27px 26px 55px 32px rgba(0,0,0,0.75);    
}

.icon-large{
    font-size: 1.9rem;
}

.icon-small{
    font-size: 1.4rem;
}

.heading{
    height: 10rem;
    background-color:rgb(42, 41, 46);
    background-image: url("bg_heading.png");
    color: white;
    position: relative;
    top: 0;
    max-height: 40mm;
}

.cv-content{
    color: whitesmoke;
    background-color: rgb(12, 81, 146);
    max-height: 237mm
}

.side-content{
    padding-top: 3rem;
}

.side-sub-text{
    padding-left: 1rem;
}

.sub-text{
    padding-left: 4rem;
    color: #d2d2d2;
}

.sideinfo{
    background-color: rgb(9, 57, 106);
    padding-right: 1rem;
}

.main-content{
    max-height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
}

.footing{
    background-color:rgb(42, 41, 46);
    text-align: center;
    color: gray;
    font-size: 0.8rem;
    padding-top: 0.5rem;
    background-image: url("bg_heading.png");
    position: relative;
    bottom: 0;
    max-height: 20mm;
}

/* TIMELINE START */
.timeline-container{
    position: relative;
    left: 6rem;
}

.timeline{
    border-left: 2px solid #ffffff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
}

.timeline .entry {
    position: relative;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.timeline .entry::before, .timeline .entry::after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .entry::before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.timeline .entry::after {
    -webkit-box-shadow: 0 0 0 2px #ffffff;
    box-shadow: 0 0 0 2px #ffffff;
    left: -55.6px;
    background: rgb(12, 81, 146);
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

.timeline .entry p{
    margin-bottom: 0.5rem;
}

/* TIMELINE END */

.debug-border{
    border: 1px solid blue;
}

.picture-frame{
    border: 5px solid rgb(42, 41, 46);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 4rem;
    z-index: 10;
    overflow: hidden;
}

.csharp{
    background-image: url("csharp.png");
    width: var(--icon-size);
    height: var(--icon-size);
}

.rails{
    background-image: url("rails.png");
    width: var(--icon-size);
    height: var(--icon-size);
}

.side-sub-content > .row{
    padding-top: 1rem;
}

.side-content > .row{
    padding-top: 3rem;
}

a{
    text-decoration: none;
    color: rgb(148, 148, 148);
}

a:hover{
    text-decoration: none;
    color: white;
}

.list-group-item{
    background-color: transparent;
}

.year{
    font-weight: bold;
    font-size: 1.2rem;
}

.school-name{
    font-weight: bold;
    color: rgb(185, 185, 185);
}

.edu-info-1{
    color: rgb(175, 175, 175);
}

.edu-info-2{
    font-size: 0.9rem;
    color: rgb(165, 165, 165);
}

.edu-info-3{
    font-size: 0.8rem;
    color: rgb(155, 155, 155);
}

.outer-shadow{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    z-index: 3;
}

.inner-shadow{
    -webkit-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.75);
}

/* Scrollbar styling */
.main-content {
    scrollbar-width: thin;
    scrollbar-color: rgb(12, 81, 146);
  }
  
  /* Works on Chrome/Edge/Safari */
  .main-content::-webkit-scrollbar {
    width: 12px;
  }
  .main-content::-webkit-scrollbar-track {
    background: rgb(9, 57, 106);
  }
  .main-content::-webkit-scrollbar-thumb {
    background-color: rgb(12, 81, 146);
    border-radius: 20px;
    border: 3px solid rgb(9, 57, 106);
  }
/* Scrollbar styling */



